/* Duplicate: .note defined 4 times in another file */
.note {
    border-radius: 3px;
    font-size: 11px !important;
}

.note_highlight {
    background-color: yellow;
}

.note_bg {
    background-color: darkgray;
}